.comments {
  border: 1px solid #000;
  padding: 10px;
  margin: 15px 0;
  border-radius: 15px;
  transition: box-shadow .2s ease;
  /* width: 100%; */
}

.comments:hover {
  box-shadow: 0 0 10px;
}

.comment:not(:last-child) {
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.comment__content {
  margin-top: 5px;
}