* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  width: 80%;
}

.postForm__btns {
  display: flex;
  justify-content: end;
}

.pagination-btns {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-btns>button {
  margin: 0 10px;
}

button.current-page {
  background-color: #000;
  color: #fff;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.122);
}

.navbar__links {
  margin-left: auto;
}

.navbar__links > a {
  padding-left: 10px;
  text-decoration: none;
  color: #000;
}