* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 80%;
}

.postForm__btns {
  display: flex;
  justify-content: end;
}

.pagination-btns {
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.pagination-btns>button {
  margin: 0 10px;
}

button.current-page {
  background-color: #000;
  color: #fff;
}
